:root {
  --brown: #702b1b;
  --lightRedwood: #f29783;
  --medRedwood: #f05b39;
  --grayBrown: #70463d;
  --darkRedwood: #bd482d;
  --whiteGray: #eee;
  --lightGray: #aaa;
  --medGray: #888;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  /* width: 80%; */
  background-color: var(--whiteGray);
  width: 70%;
  margin-top: 5rem;
  padding: 50px 0;
  border-radius: 20px;
  box-shadow: 10px 10px 20px var(--lightGray);
  margin-bottom: 15rem;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-right: 3px solid var(--lightGray);
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.product-title {
  font-size: 40px;
  text-align: left;
  border-bottom: 2px solid var(--lightGray);
  margin-right: 400px;
  color: var(--medRedwood)
}

.product-image {
  width: 500px;
  border-radius: 10px;
  text-align: center;
}

.single-review {
  list-style: none;
  border-bottom: 1px solid;
  height: 5rem;
  text-align: end;
  margin-top: 15px;
}

.review-author {
  color: var(--medGray);
  margin-top: 10px;
  text-align: left;
}

.single-btn {
  border: none;
  background-color: #999;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  bottom: 0;
  color: #fff;
  box-shadow: 2px 2px 10px #aaa;
  cursor: pointer;
  transition: ease .125s;
  /* margin-right: 10px; */
}

.rate {
  float: left;
  height: 30px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#product-description {
  width: 80%;
  font-size: 25px;
}

#vendor {
  text-align: left;
  color: var(--grayBrown)
}

#btn-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

#main-product-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  margin-bottom: 10px;
}

#review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

#reviews {
  display: flex;
  flex-direction: column;
}

#review-header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.single-btn:hover {
  background-color: var(--medRedwood);
  content: "Sure!";
}